.closeButton {
  width: 32px;
  height: 32px;
  position: relative;
  top: 155px;
  left: calc((100% - 430px) / 2 + 220px);
  background-image: url(../../../pictures/Close\ Icon.png);
  background-color: #000;
  background-size: 32px 32px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
}
.closeButton:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  .closeButton{
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    top: 135px;
    left: calc((100% - 282px) / 2 + 145px);
  }
}
@media screen and (max-width: 360px) {
  .closeButton {
    left: calc((100% - 282px) / 2 + 121px);
    top: 87px;
  }
  
}