.closeButton {
  width: 32px;
  height: 32px;
  position: relative;
  top: 155px;
  left: calc((100% - 430px) / 2 + 430px);
  background-image: url(../../../pictures/Close\ Icon.png);
  background-color: #000;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
}
.closeButton:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  .closeButton{
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    top: 100px;
    left: calc((100% - 282px) / 2 + 262px);
  }
}